.body1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  overflow: hidden !important;
  height:90vh;
}

.body_notes,
.body_discussion {
  height:90vh;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--secondary);
  font-weight: 900;
  width: 50%;
  border-left: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body_icon {
  font-size: 3rem !important;
}
